@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400&display=swap');

body {
  background: url('/assets/images/bg.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  font-family: 'Spartan', sans-serif;
}

.shadow {
  box-shadow: 5px 5px 20px #000;
}

.card,
nav,
.breadcrumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border: 0;
}

.header-link .card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-link,
.header-link:hover {
  text-decoration: none;
  color: #000;
}